apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-api
  labels:
    app: simple-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-api
  template:
    metadata:
      labels:
        app: simple-api
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: simple-api
          image: pratik6958/simple-api:latest
          ports:
            - containerPort: 3000
